{% extends "base.jinja" %}

{% block content %}
<main class="container">
    <p>Hello, <span>{{ name }}</span>!</p>
</main>

<style>
    p {
        font-size: 4rem;
        text-align: center;
    }

    span {
        font-weight: bold;
    }

    main.container {
        margin-top: 10rem;
    }
</style>
{% endblock %}